<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The Rooms</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet"/>
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <nav>
      <img class="back" id="back" src="../static/images/back-arrow.png" alt="">
      <h1>The Rooms</h1>
      <img class="hamburger" src="../static/images/hamburger.png" alt="">
    </nav>
    <div class="quick-btn" id="quick-btn">
      <h1>Quick Find</h1>
      <img src="../static/images/right-arrow.png" alt="">
    </div>
    <div class="quick-info" id="quick-info">
      <h2>Next five meetings < 10 miles</h2>
    </div>
    <section class="selector" id="selector">
      <div class="day" id="su">
        <h2>Su</h2>
      </div>
      <div class="day" id="m">
        <h2>M</h2>
      </div>
      <div class="day" id="tu">
        <h2>Tu</h2>
      </div>
      <div class="day" id="w">
        <h2>W</h2>
      </div>
      <div class="day" id="th">
        <h2>Th</h2>
      </div>
      <div class="day" id="f">
        <h2>F</h2>
      </div>
      <div class="day" id="sa">
        <h2>Sa</h2>
      </div>
    </section>

    <section class="sunday" id="sunday">
      <section class="meeting">
        <div class="info">
          <p>Sunday Meeting</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
    </section>

    <section class="monday" id="monday">
      <section class="meeting">
        <div class="info">
          <p>Monday Meeting</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
    </section>

    <section class="tuesday" id="tuesday">
      <section class="meeting">
        <div class="info">
          <p>Tuesday Meeting</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
    </section>

    <section class="wednesday" id="wednesday">
      <section class="meeting">
        <div class="info">
          <p>Wednesday Meeting</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
    </section>

    <section class="Thursday" id="thursday">
      <section class="meeting">
        <div class="info">
          <p>Thursday Meeting</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
    </section>

    <section class="friday" id="friday">
      <section class="meeting">
        <div class="info">
          <p>Friday Meeting</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
    </section>

    <section class="saturday" id="saturday">
      <section class="meeting">
        <div class="info">
          <p>Saturday Meeting</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
    </section>

    <section class="top-five" id="top-five">
      <section class="meeting">
        <div class="info">
          <p>#1 Meeting Name</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
      <section class="meeting">
        <div class="info">
          <p>#2 Meeting Name</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
      <section class="meeting">
        <div class="info">
          <p>#3 Meeting Name</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
      <section class="meeting">
        <div class="info">
          <p>#4 Meeting Name</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
      <section class="meeting">
        <div class="info">
          <p>#5 Meeting Name</p>
          <h5>City</h5>
          <h5>Type of Meeting</h5>
        </div>
        <div class="time-distance">
          <h5>--:--pm</h5>
          <h3>0.00 mi</h3>
        </div>
      </section>
    </section>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
